body {
    background: #fdf7df;
}
.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    width: 1179px;
}
.sidebar {
    width: 280px;
}
.main {
    width: 875px;
}
.footer {
    width: 1179px;
    margin-top: 150px;
}